.search{
    height: 50px;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.voice{
    margin-left: 8px;
    height: 35px;
    width: 35px;
    background-size: cover;
    /*border:1px white solid;*/
    background-image:url(../image/听歌识曲.svg);
}
.search-music input{
    height: 35px;
    width: 220px;
    /*max-width: 100%;*/
    border-radius: 10px  10px 10px 10px;
    border: 1px solid grey;
    background-color: grey;
}
